body {
    height: 100vh;
    background-image: url("minecraft-legends-3840x2160-11204.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#tartalom {
    width: 25%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: rgb(33, 182, 33);
    background-color: rgb(0, 0, 0, 0.7);
    padding: 2%;
    border: 5px solid rgba(44, 187, 44, 0.5);
    margin-top: 5%;
    box-shadow: 5px 5px 5px rgb(8, 173, 8);
}

.hajra {
    text-decoration: underline rgb(13, 145, 13);
    font-size: 24px;
    color: white;
    padding: 2px;
}

#kep {
    width: 20%;
    margin-top: 10%;

}