body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-image: linear-gradient(to right, black, white, white, white, white, black);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 4px 4px 6px black;
    font-size: 44px;
}

.kep {
    width: 90%;
    height: auto;
    margin: 10%;
}

section {
    margin: 0px auto;
}