body {
    height: 100vh;
    background-image: url("img/wp12230764-black-dice-wallpapers.jpg");
}
#keret {
    width: 60%;
    background-color: white;
    border: 2px solid black;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 6px black;
    padding-top: 30px;
    padding-bottom: 30px;
}
#igazito {
    margin: 0px auto;
    box-shadow: 3px 3px 6px black;
    width: 35%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

#kockaEldobasa {
    box-shadow: 3px 3px 6px black;
    margin-bottom: 2%;
}

.kocka {
    width:100px;
    height: 100px;
    background-image: none;
    display: inline-block;
}

h3{
    text-decoration: underline;
    color: black;
    margin-top: 2%;
    font-weight: bold;
}

table {
    box-shadow: 3px 3px 6px black;
}